{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/cequestlog/header.png",
      "fileBody" : "/interface/scripted/cequestlog/body.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : "Quest Journal",
      "subtitle" : "^#b9b5b2;Keep track of your quests",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/cequestlog/cequestlogicon.png",
        "zlevel" : -1
      }
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/cex.png",
      "hover" : "/interface/cexhover.png",
      "pressed" : "/interface/cexpress.png",
      "pressedOffset" : [0, 0],
      "position" : [335, 303]
    },

    "questTabs" : {
      "type" : "radioGroup",
      "callback" : "questCategory",
      "toggleMode" : false,
      "buttons" : [
        {
          "selected" : true,
          "position" : [6, 268],
          "baseImage" : "/interface/scripted/cequestlog/buttonCategory.png:disabled",
          "hoverImage" : "/interface/scripted/cequestlog/buttonCategory.png:hover",
          "baseImageChecked" : "/interface/scripted/cequestlog/buttonCategory.png:default",
          "pressedOffset" : [0, 0],
          "text" : "Active",
          "data" : "full"
        },
        {
          "position" : [87, 268],
          "baseImage" : "/interface/scripted/cequestlog/buttonCategory.png:disabled",
          "hoverImage" : "/interface/scripted/cequestlog/buttonCategory.png:hover",
          "baseImageChecked" : "/interface/scripted/cequestlog/buttonCategory.png:default",
          "pressedOffset" : [0, 0],
          "text" : "Completed",
          "data" : "compact"
        }
      ]
    }
  },

  "scriptWidgetCallbacks" : ["questCategory"],

  "scripts" : [ "/interface/scripted/cequestlog/cequestlog.lua" ],
  "scriptDelta" : 1,

  "replaced" : true
}