{
  "gui" : {
    "close" : {
      "type" : "button",
      "base" : "/interface/cex.png",
      "hover" : "/interface/cexhover.png",
      "pressed" : "/interface/cexpress.png",
      "pressedOffset" : [0, 0],
      "position" : [238, 200]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Unipad",
      "subtitle" : "Multiple interfaces at the press of a button",
      "position" : [0, 254],
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/ceunipad/unipadicon.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/ceunipad/header.png",
      "fileBody" : "/interface/scripted/ceunipad/body.png"
    },

    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [7, 6, 109, 184],
      "children" : {
        "list" : {
          "type" : "list",
          "callback" : "selectItem",
          "schema" : {
            "selectedBG" : "/interface/scripted/ceunipad/listitemselected.png",
            "hoverBG" : "/interface/scripted/ceunipad/listitemhover.png",
            "unselectedBG" : "/interface/scripted/ceunipad/listitem.png",
            "spacing" : [0, 2],
            "memberSize" : [90, 18],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/scripted/ceunipad/listitem.png",
                "position" : [0, 0],
                "zlevel" : -1
              },
              "name" : {
                "type" : "label",
                "position" : [20, 9],
                "hAnchor" : "left",
                "vAnchor" : "mid",
                "lineSpacing" : 1.0,
                "wrapWidth" : 68
              },
              "icon" : {
                "type" : "image",
                "position" : [1, 1],
                "offset" : [0, 0],
                "scissoring" : false
              }
            }
          }
        }
      }
    },
    "textScrollArea" : {
      "type" : "scrollArea",
      "rect" : [118, 6, 259, 184],
      "children" : {
        "text" : {
          "type" : "label",
          "position" : [0, 212],
          "hAnchor" : "left",
          "vAnchor" : "top",
          "value" : "This is an example value designed to be long enough as to wrap around, to demonstrate to the developer (Emmaker) if his configuration is correct and serviceable for normal gameplay. If you see this value, that means something is wrong and you should report this bug (along with a log!) to Emmaker in the respective channels, likely designated in the description of the mod (Cosmic Expanse).\n\nThis paragraph of the example value is designed to demonstrate to Emmaker, the aforementioned developer, if the widget this text widge is a child of (a scrollable area) is in fact functioning and allows the user (you!) to scroll vertically, as to see the full text assigned to this widget. Once again, if you see this example value, that means that Cosmic Expanse is not functioning correctly and you should report this issue in the aforementioned proper channels.",
          "lineSpacing" : 1.0,
          "wrapWidth" : 121
        }
      }
    }
  },

  "scriptWidgetCallbacks" : [ "selectItem" ],

  "scripts" : [ "/interface/scripted/ceunipad/ceunipad.lua" ],
  "scriptDelta" : 1
}