{
  "gui" : {
      "close" : {
          "type" : "button",
          "base" : "/interface/cex.png",
          "hover" : "/interface/cexhover.png",
          "pressed" : "/interface/cexpress.png",
          "pressedOffset" : [0, 0],
          "position" : [363, 324]
      },
      "windowtitle" : {
          "type" : "title",
          "title" : "Lexicon",
          "subtitle" : "Documentation of your travels",
          "position" : [0, 254],
          "icon" : {
              "type" : "image",
              "file" : "/interface/scripted/collections/collectionsicon.png",
              "position" : [0, -20],
              "zlevel" : -1
          }
      },
      "background" : {
          "type" : "background",
          "fileHeader" : "/interface/scripted/collections/header.png",
          "fileBody" : "/interface/scripted/collections/body.png"
      },
      "lexiconModes" : {
        "type" : "radioGroup",
        "callback" : "selectMode",
        "zlevel" : 2,
        "toggleMode" : false,
        "buttons" : [
          {
            "selected" : true,
            "position" : [3, 295],
            "baseImage" : "/interface/scripted/collections/mode_deselect.png",
            "baseImageChecked" : "/interface/scripted/collections/mode_select.png",
            "pressedOffset" : [0, 0],
            "data" : "codex"
          },
          {
            "selected" : false,
            "position" : [194, 295],
            "baseImage" : "/interface/scripted/collections/mode_deselect.png",
            "baseImageChecked" : "/interface/scripted/collections/mode_select.png",
            "pressedOffset" : [0, 0],
            "data" : "collections"
          }
        ]
      },
      "codexLabel" : {
        "type" : "label",
        "position" : [99, 299],
        "hAnchor" : "mid",
        "value" : "Codex",
        "zlevel" : 3
      },
      "collectionsLabel" : {
        "type" : "label",
        "position" : [290, 299],
        "hAnchor" : "mid",
        "value" : "Collections",
        "zlevel" : 3
      },

      "scrollAreaTabs" : {
          "type" : "scrollArea",
          "rect" : [8, 12, 41, 280],
          "children" : {
              "tabList" : {
                  "type" : "list",
                  "callback" : "selectCategory",
                  "position" : [0, 0],
                  "columns" : 1,
                  "fillDown" : true,
                  "schema" : {
                      "selectedBG" : "/interface/scripted/collections/tab_select.png",
                      "unselectedBG" : "/interface/scripted/collections/tab_deselect.png",
                      "spacing" : [0, 1],
                      "memberSize" : [23, 22],
                      "listTemplate" : {
                          "background" : {
                              "type" : "image",
                              "file" : "/interface/scripted/collections/tab_deselect.png",
                              "position" : [0, 0],
                              "zlevel" : -1
                          },
                          "icon" : {
                              "type" : "image",
                              "file" : "",
                              "position" : [0, 0],
                              "zlevel" : 1
                          }
                      }
                  }
              }
          }
      },

      // =====
      // Codex
      // =====

      "scrollBGcodex" : {
          "type" : "image",
          "file" : "/interface/scripted/collections/scroll_bg_codex.png",
          "position" : [3, 3],
          "zlevel" : -5
      },
      "scrollAreaBooks" : {
          "type" : "scrollArea",
          "rect" : [43, 12, 216, 280],
          "children" : {
              "bookList" : {
                  "type" : "list",
                  "callback" : "selectCodex",
                  "position" : [1, -1],
                  "schema" : {
                      "selectedBG" : "/interface/codex/booktitle_selected.png",
                      "unselectedBG" : "/interface/codex/booktitle_bg.png",
                      "spacing" : [0, 0],
                      "memberSize" : [162, 20],
                      "listTemplate" : {
                          "background" : {
                              "type" : "image",
                              "file" : "/interface/codex/booktitle_bg.png",
                              "position" : [0, 0],
                              "zlevel" : -1
                          },
                          "icon" : {
                              "type" : "image",
                              "file" : "",
                              "position" : [2, 2],
                              "zlevel" : 1
                          },
                          "name" : {
                              "type" : "label",
                              "position" : [22, 10],
                              "hAnchor" : "left",
                              "vAnchor" : "mid",
                              "wrapWidth" : 140,
                              "value" : ""
                          }
                      }
                  }
              }
          }
      },
      "categoryLabel" : {
          "type" : "label",
          "position" : [122, 284],
          "hAnchor" : "mid",
          "value" : "Example Tab"
      },
      "titleLabel" : {
          "type" : "label",
          "position" : [300, 284],
          "hAnchor" : "mid",
          "value" : "Example Title"
      },
      "scrollAreaText" : {
        "type" : "scrollArea",
        "rect" : [220, 23, 386, 280],
        "children" : {
          "pageText" : {
            "type" : "label",
            "position" : [220, 278],
            "hAnchor" : "left",
            "vAnchor" : "top",
            "wrapWidth" : 155,
            "value" : "Example contents that is very long as to test the wrapWidth value"
          }
        }
      },
      "pageNum" : {
          "type" : "label",
          "position" : [300, 4],
          "hAnchor" : "mid",
          "value" : "0 of 0"
      },
      "pageLabel" : {
          "type" : "label",
          "position" : [300, 13],
          "hAnchor" : "mid",
          "value" : "Page"
      },
      "prevButton" : {
          "type" : "button",
          "caption" : "< Previous",
          "base" : "/interface/codex/readSelected.png",
          "hover" : "/interface/codex/readSelected-hover.png",
          "position" : [217, 6],
          "callback" : "prevPage",
          "zlevel" : 1
      },
      "prevButtonDisabled" : {
          "type" : "button",
          "caption" : "< Previous",
          "base" : "/interface/codex/readSelected.png?brightness=-50",
          "hover" : "/interface/codex/readSelected.png?brightness=-50",
          "position" : [217, 6],
          "pressedOffset" : [0, 0],
          "callback" : "prevPage",
          "zlevel" : 0
      },
      "nextButton" : {
          "type" : "button",
          "caption" : "Next >",
          "textAlign" : "center",
          "base" : "/interface/codex/readSelected.png",
          "hover" : "/interface/codex/readSelected-hover.png",
          "position" : [327, 6],
          "callback" : "nextPage",
          "zlevel" : 1
      },
      "nextButtonDisabled" : {
          "type" : "button",
          "caption" : "Next >",
          "textAlign" : "center",
          "base" : "/interface/codex/readSelected.png?brightness=-50",
          "hover" : "/interface/codex/readSelected.png?brightness=-50",
          "position" : [327, 6],
          "pressedOffset" : [0, 0],
          "callback" : "nextPage",
          "zlevel" : 0
      },

      // ===========
      // Collections
      // ===========

      "scrollBGcollections" : {
        "type" : "image",
        "file" : "/interface/scripted/collections/scroll_bg_collections.png",
        "position" : [3, 3],
        "zlevel" : -5
      },
      "scrollAreaCollection" : {
        "type" : "scrollArea",
        "rect" : [49, 12, 386, 280],
        "children" : {
          "collectionList" : {
            "type" : "list",
            "callback" : "null",
            "position" : [1, 217],
            "columns" : 8,
            "fillDown" : true,
            "scissoring" : false,
            "schema" : {
              "selectedBG" : "/interface/scripted/collections/collect_bg.png",
              "unselectedBG" : "/interface/scripted/collections/collect_bg.png",
              "spacing" : [9, 8],
              "memberSize" : [32, 32],
              "listTemplate" : {
                "background" : {
                  "type" : "image",
                  "file" : "/interface/scripted/collections/collect_bg.png",
                  "position" : [0, 0],
                  "zlevel" : -10
                },
                "icon" : {
                  "type" : "image",
                  "file" : "",
                  "position" : [16, 16],
                  "size" : [22, 22],
                  "centered" : true,
                  "zlevel" : 0
                },
                "border" : {
                  "type" : "image",
                  "file" : "/interface/scripted/collections/collect_fg.png",
                  "position" : [0, 0],
                  "zlevel" : 10
                },
                "index" : {
                  "type" : "label",
                  "position" : [8, 2],
                  "zlevel" : 20,
                  "hAnchor" : "mid",
                  "color" : "white",
                  "value" : ""
                }
              }
            }
          }
        }
      },
      "collectionLabel" : {
        "type" : "label",
        "position" : [195, 284],
        "hAnchor" : "mid",
        "value" : "Collection"
      }
  },

  "scriptWidgetCallbacks" : [
      "selectMode",
      "selectCategory",
      "selectCodex",
      "prevPage",
      "nextPage"
  ],

  "scripts" : [ "/interface/scripted/collections/collectionsgui.lua" ],
  "scriptDelta" : 30,

  "iconSize" : [22, 22],

  "tooltipLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/tooltips/racebody.png",
      "fileFooter" : ""
    },
    "title" : {
      "type" : "label",
      "position" : [11, 54],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 220,
      "fontSize" : 12
    },
    "description" : {
      "type" : "label",
      "position" : [11, 38],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 220
    }
  },

  "tabs" : {
    "codex" : [
      {
        "name" : "Other",
        "data" : "other",
        "icon" : "tab_other.png",
        "weight" : 9999
      },
      {
        "name" : "Apex",
        "data" : "apex",
        "icon" : "tab_apex.png"
      },
      {
        "name" : "Avian",
        "data" : "avian",
        "icon" : "tab_avian.png"
      },
      {
        "name" : "Floran",
        "data" : "floran",
        "icon" : "tab_floran.png"
      },
      {
        "name" : "Glitch",
        "data" : "glitch",
        "icon" : "tab_glitch.png"
      },
      {
        "name" : "Human",
        "data" : "human",
        "icon" : "tab_human.png"
      },
      {
        "name" : "Hylotl",
        "data" : "hylotl",
        "icon" : "tab_hylotl.png"
      }
    ],
    "collections" : [
      {
        "name" : "Pets",
        "data" : "monsters",
        "icon" : "tab_monster.png"
      },
      {
        "name" : "Rare Pets",
        "data" : "raremonsters",
        "icon" : "tab_rares.png"
      },
      {
        "name" : "Action Figures",
        "data" : "actionfigures",
        "icon" : "tab_figure.png"
      },
      {
        "name" : "Fishing",
        "data" : "fishing",
        "icon" : "tab_fish.png"
      },
      {
        "name" : "Cooking",
        "data" : "cooking",
        "icon" : "tab_food.png"
      },
      {
        "name" : "Fossils",
        "data" : "fossils",
        "icon" : "tab_fossil.png"
      },
      {
        "name" : "Bugs",
        "data" : "bugs",
        "icon" : "tab_bug.png"
      }
    ]
  },

  // how lexical
  "replaced": true
}
