{
  "main" : {
    "divider" : "dividers/main.png",
    "quests" : [
      { "id" : "protectorate" },
      { "id" : "bootship", "alwaysShow" : true },

      { "id" : "gaterepair" },
      { "id" : "shiprepair" },

      { "id" : "human_mission1" },
      { "id" : "outpostclue" },

      { "id" : "floran_mission1" },
      { "id" : "floran_mission2" },

      { "id" : "hylotl_mission1" },
      { "id" : "hylotl_mission2" },

      { "id" : "avian_mission1" },
      { "id" : "avian_mission2" },

      { "id" : "apex_mission1" },
      { "id" : "apex_mission2" },

      { "id" : "glitch_mission1" },
      { "id" : "glitch_mission2" },

      { "id" : "destroyruin", "alwaysShow" : true }
    ]
  },

  "tech" : {
    "divider" : "dividers/tech.png",
    "quests" : [
      { "id" : "techscientist1" },
      { "id" : "techscientist2" },
      { "id" : "techscientist3" },
      { "id" : "techscientist4" },
      { "id" : "techscientist5" },
      { "id" : "techscientist6" }
    ]
  }
}